@inject EditorModalService EditorModalService

@if (IsShow)
{
    <div class="modal fade show d-block" tabindex="-1" style="background: rgba(0,0,0,0.5);">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">@EditorModalService.Title</h5>
                </div>

                <div class="modal-body">
                    @foreach (var Field in EditorModalService.Fields)
                    {
                        <div class="mb-3">
                            <label class="form-label">@Field.DisplayName</label>
                            <input class="form-control" @bind="Field.Value" />
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" @onclick="EditorModalService.CloseModal">بستن</button>
                    <button class="btn btn-primary" @onclick="OnConfirmClick">ثبت</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public bool IsShow { get; set; }

    private void OnConfirmClick()
    {
        EditorModalService!.CloseModal();
        EditorModalService!.OnConfirmClick();
    }
}
